*{
    margin: 0%;
}
.topnav {
    position:fixed;
  width: 100%;
  height: 70px;
    text-align: center;
  background-color: #111010;
    top:0%
    }
      .img{

        height:70px;
        float: left;
        
      }
      .topnav a{
        
        color: #f2f2f2;
        float: left;
        height:42px;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      
      /* Change the color of links on hover */
      .topnav a:hover {
        background-color:red;
      }
      
      /* Add a color to the active/current link */
      
      
      ul li{
        list-style-type: none;
     display:inline-block;
      margin-right: 50px;
        height: 70px;   
      }

.back{
    width:100%;
    height:100vh;
    background-image: url('./pexels-siva-seshappan-13433786.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.login{
    background-color: #ff4d4d;
    padding: 20px 50px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top:375px;
    margin-left: 670px;
    text-align: center;
    color: white;
    font-size: 20px;
    border-color:red;
    cursor: pointer;
}
.login:hover{
    border-color:aquamarine;
}



